body {
    font-family: Arial, sans-serif;
    background: #FAFBFC;
    color: #363636;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 15px; /* Add padding for smaller screens */
}





.error-message {
    color: #FB3A1F;
    display: none; /* 默认隐藏 */
    font-size: 12px;
}

.container-header {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 0;
    position: relative;
}

.header {
    width: 100%;
    height: 82px;
    background: white;
    backdrop-filter: blur(80px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0px ; /* 調整 padding 值來增加空間 */
}

.header img {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
}

.header nav {
    display: flex;
    gap: 36px;
}

.header nav a {
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: 'Noto Sans TC';
    opacity: 0.80;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-icon {
    width: 23px;
    height: 23px;
    background: #D9D9D9;
    border-radius: 50%;
}





h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #333;
}


h2 {
    text-align: center;
}


/* Search bar styles */
.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    width: 100%; /* Ensure it takes full width */
}

/* Input field styles */
.search-bar input[type="text"] {
    width: 100%; /* Make input take full width on smaller screens */
    max-width: 400px; /* Maximum width for larger screens */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px; /* Spacing between input and buttons */
}




/* Responsive styles */
@media (min-width: 768px) {
    .search-bar {
        flex-direction: row; /* Align input and buttons horizontally on larger screens */
        width: 600px;
    }
    
    .search-bar input[type="text"] {
        width: 300px; /* Reset width on larger screens */
        margin-right: 10px; /* Space between input and buttons */
    }
    
    .search-bar .main-button {
        margin: 0 8px; /* Adjust margins for larger screens */
    }
}

@media (max-width: 767px) {
    .search-bar {
        flex-direction: column; /* Stack input and buttons vertically on small screens */
    }
    
    .search-bar input[type="text"] {
        width: 100%; /* Full width on smaller screens */
        max-width: 100%; /* Remove max-width on small screens */
    }
    
    .search-bar .main-button {
        width: 100%; /* Full width on smaller screens */
        margin-bottom: 10px; /* Space between buttons */
    }
}










.word-link {
    text-decoration: none;
}


.word-list {
    max-width: 1116px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center; /* This centers the content inside the team-list if there's any */
    position: relative;
    align-items: center;
} 

.word-card {
    width: 300px;
    background: white;
    border-radius: 16px;
    align-items: center;
    border: 0.4px solid #85D3FF;
    padding: 24px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.new-word {
    border: 3px solid #34C759;
}

.word-card .word-header {
    display: flex;
    color: #363636;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.word-card .word-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}
.word-card .word-details .type {
    color: black;
    font-size: 16px;
}
.word-card .word-meaning {
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
}
.word-card .add-word {
    color: #007AFF;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

/*字的難易度*/
.difficulty {
    font-size: 14px;
    font-weight: bold;
}

.difficult {
    color: #FB3A1F; /* 紅色 */
}

.medium {
    color: #FF9500; /* 橘色 */
}

.easy {
    color: #34C759; /* 綠色 */
}






/* upload.html*/
.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px; /* 调整间距 */
    justify-content: center;
    flex: 1;
}

/* .main-content 的样式 */
.main-content {
    display: flex;
    flex-direction: column; /* 在小屏幕上垂直排列 */
    gap: 20px;
    width: 100%; /* 确保内容占满父容器的宽度 */
    margin-top: 40px; /* 减少顶部间距 */
}

/* .webcam-section 的样式 */
.webcam-section {
    width: 100%; /* 确保视频占满容器宽度 */
    flex: 1;
}

/* .webcam-section video 的样式 */
.webcam-section video {
    width: 100%;
    height: auto;
    border: 2px solid #007AFF;
    border-radius: 8px;
}

/* 按钮样式 */
.button {
    padding: 10px 24px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px 0 0; /* Reduced margin for better spacing */
    text-align: center; /* 文字居中對齊 */
}

.button:hover {
    background-color: #0056b3;
}




.button-big {
    padding: 16px 24px; /* 调整按钮内边距 */
    background: #007AFF;
    color: white;
    font-size: 16px; /* 调整字体大小 */
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button-big:hover {
    background-color: #0056b3;
}


.button-cancel {
    padding: 10px 20px;
    border: none;
    background-color: #f3f3f3;
    color: #1484ff;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; /* 文字居中對齊 */
}

.button-cancel:hover {
    color: #1484ff;
    background-color: #ccc;
}

/* custom-file-upload 样式 */
.custom-file-upload {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px #1484FF solid;
    cursor: pointer;
    color: #1484FF;
    font-size: 16px;
}





/* divider 样式 */
.divider {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #777;
    font-size: 14px; /* 调整字体大小 */
}

.hori-line {
    width: 100%;
    height: 1px;
    margin: 8px 0;
    border-top: 0.1px solid #ccc;
}

/* upload-options 样式 */
.upload-options {
    display: flex;
    flex-direction: column; /* 在小屏幕上垂直排列 */
    align-items: center;
    gap: 16px; /* 调整间距 */
    width: 100%;
}



/* 隐藏文件输入 */
#file-upload {
    display: none;
}

/* file-name 样式 */
#file-name {
    font-size: 14px;
    font-family: 'Alef';
    padding: 0px 16px 0px 8px;
}



/* 响应式设计 */
@media (min-width: 768px) {
    .main-content {
        flex-direction: row; /* 在大屏幕上水平排列 */
    }
    
    .upload-options {
        flex-direction: row; /* 在大屏幕上水平排列 */
        gap: 24px; /* 增加按钮间距 */
    }
}

@media (max-width: 767px) {
    .upload-options {
        gap: 16px; /* 减少按钮间距 */
    }
}



/* New style for highlighted text */


.center-text-container {
    text-align: center;
}

.highlight-text {
    display: inline;
    text-align: center;
    color: #363636;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 22.40px;
    word-wrap: break-word;
    background: linear-gradient(180deg, transparent 50%, yellow 30%);
}


/* word.html 樣式*/
.word-detail {
    max-width: 600px;
    padding: 24px;
    background: white;
    border: 0.4px solid #85D3FF;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}


/* < 回上一頁*/
.back {
    width: 100%; /* 设置框的宽度 */
    padding: 24px 0; /* 内边距，垂直方向 */
    display: flex;
    align-items: center; /* 左对齐 */
    justify-content: flex-start; /* 左对齐 */
}

.back a {
    text-decoration: none;
    color: #007AFF;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: left; /* 将文字左对齐 */
}

.back a:hover {
    text-decoration: underline;
}

/* 对于大屏幕（桌面设备） */
@media (min-width: 1024px) {
    .back {
        width: 560px; /* 在大屏幕上将宽度设置为600px */
    }
}

/* 对于中等屏幕（平板设备） */
@media (min-width: 768px) and (max-width: 1023px) {
    .back {
        width: 64%; /* 在中等屏幕上将宽度设置为80% */
    }
}

/* 对于小屏幕（手机设备） */
@media (max-width: 767px) {
    .back {
        width: 80%; /* 在小屏幕上将宽度设置为100% */
    }
}



/*難易度標籤樣式*/
.difficulty-radio {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    
}


button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}



/*上一個下一個單字*/
.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* 将按钮居中 */
    background-color: white; /* 背景颜色 */
    padding: 16px 0; /* 上下内边距 */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* 添加阴影 */
    z-index: 1000; /* 确保导航栏在顶层 */
}

.navigation button {
    margin: 0 10px; /* 按鈕之間的間距 */
    padding: 8px 16px;
    background-color: #007AFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.navigation button:hover {
    background-color: #0056b3; /* 滑鼠懸停時的背景顏色 */
}









/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}




/* 上傳的圖片預覽的圖片大小 */
.image-preview-container {
    width: 471px;
    height: 354px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-bottom: 20px; /* 在小屏幕上增加一些间距 */
    flex: 2;
}

.image-preview {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}



/* 送出確認單字的整體版面 */
.preview-section {
    align-items: center;
    display: flex; /* 使用 Flexbox 布局 */
    padding: 20px;
    gap: 24px;
    flex-wrap: wrap; /* 允许子元素换行 */
}


/* 送出確認的單字清單 */
.words-list {
    flex: 1;
    
    width: 400px;
    box-sizing: border-box;
    margin: 0 auto; /* 水平居中 */
}

.center-button-container {
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center;    /* 垂直置中（如果父容器有高度） */
    height: 64px;          /* 父容器高度，用於示例效果 */
}


.word-item {
    padding: 8px 24px;
    background: white;
    border-radius: 16px;
    border: 0.40px #85D3FF solid;
    display: flex;
    justify-content: space-between; /* 分开左右内容 */
    align-items: center;
    margin-bottom: 16px;
}

.word-text {
    flex: 1;
    text-align: center;
    padding: 8px;
    color: black;
    font-size: 18px;
    line-height: 24px;
    word-wrap: break-word; /* 长单词或 URL 换行 */
}

.delete-button {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.delete-icon {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    border: 2px #007AFF solid;
}

/* 响应式设计 */
@media (max-width: 1024px) {
    .preview-section {
        flex-direction: column; /* 垂直排列 */
        align-items: center;
    }

    .image-preview-container {
        width: 100%;
        height: auto; /* 自适应高度 */
        max-width: 600px;
    }

    .words-list {
        width: 100%;
        padding-left: 0;
    }

}

@media (max-width: 768px) {
    .word-item {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .image-preview-container {
        width: 100%;
        height: auto;
    }

    .word-text {
        font-size: 16px;
    }

    .delete-button {
        width: 16px;
        height: 16px;
    }

    .delete-icon {
        width: 8px;
        height: 8px;
    }

}






/*Toast popup*/
.toast {
    visibility: hidden; /*隐藏 */
    min-width: 250px; 
    margin-left: -125px;
    padding: 16px;
    background-color: #34C759;
    color: #fff;
    text-align: center;
    border-radius: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 100px;
    font-size: 17px;
}

.toast.show {
    visibility: visible; /* 显示 */
    background-color: #34C759;
    /*-webkit-animation: fadein 0.5s, fadeout 0.5s 4s;*/
    animation: fadein 0.5s, fadeout 0.5s 3s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 100px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 100px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
}



/* About*/
.team-list {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* This centers the content inside the team-list if there's any */
    position: relative;
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 24px;
}

.member-info {
    display: flex;
    flex-direction: column;
}

.member-role {
    font-weight: bold;
    padding: 8px 0 4px 0;
}

.member-name {
    font-size: 1.2em;
    padding-bottom: 4px;
}

.member-title {
    font-size: 0.9em;
    color: gray;
}



/*filter style*/
/* 篩選功能*/

/* 让 h1 和 filter 按钮在同一行显示 */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* 过滤按钮的样式 */

.filter-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filter-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 50px;
}

.filter-icon {
    width: 24px;
    height: 24px;
}




.screen {
    position: relative;
    width: 100%;
    height: 909px;
    background-color: #fafbfc;
    overflow: hidden;
    border: 1px solid;
    border-color: #32ade6;
}

.screen .filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 82px); /* 扣除導航欄的高度 */
}

.screen .filter-button {
    all: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.screen .filter-icon {
    width: 20px;
    height: 20px;
}

/* 浮現視窗樣式 */
.modal {
    display: none; /* 隱藏視窗 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 保持在最上層 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 半透明背景 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #1484ff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.modal-body {
    margin-bottom: 64px;
}

.modal-footer {
    display: flex; /* 使用Flexbox佈局 */
    justify-content: center; /* 子元素在容器中水平居中 */
    gap: 10px; /* 子元素之間的間距為10像素 */
    margin: 8px;
}




.filter-options {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.filter-options label {
    flex: 1;
    text-align: center;
    color: #1484ff;
    border: 1px solid #148ff1; /* 1像素寬的灰色邊框 */
    border-radius: 5px; /* 邊框圓角5像素 */
    padding: 10px; /* 內邊距10像素 */
    margin: 0 10px; /* 左右邊距5像素 */
    align-content: center;
    font-size: 14px;
}



.filter-options-date {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.filter-options-date input {
    flex: 1;
    text-align: center;
    color: #1484ff;
    border: 1px solid #148ff1; /* 1像素寬的灰色邊框 */
    border-radius: 5px; /* 邊框圓角5像素 */
    padding: 10px; /* 內邊距10像素 */
    margin: 0 5px; /* 左右邊距5像素 */
    font-size: 14px;
}

.filter-options-date label {
    text-align: center;
    padding: 4px; /* 內邊距10像素 */
    margin: 0 5px; /* 左右邊距5像素 */
}



/* Loading Spinner Styles */
.loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex ;
    justify-content: center ;
    align-items: center ;
    z-index: 9999; /* Ensure it's on top of other content */
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #32ade6;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
