<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>關於我們</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav class="container-header">
        <div class="header">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </a>
            <nav>
                <a href="/">我的單字書</a>
                <a href="/about">關於我們</a>
            </nav>
            <div class="user">
                <div class="user-icon"></div>
                <span>User Name</span>
            </div>
        </div>
    </nav>


    <div class="container">
        <h1>關於我們</h1>

        <div class="team-list">
            <div class="team-member">
                <img class="profile-pic" src="static/img/艾諦.jpg" alt="Profile Picture">
                <div class="member-info">
                    <div class="member-role">指導老師</div>
                    <div class="member-name">Joseph, Alan</div>
                    <div class="member-title">Joseph: 艾鍗學院 AI 資深講師，台灣大學電機工程系博士研究，資深軟體工程師 <br> Alan: 艾鍗學院 AI 資深講師，深度學習工程師</div>
                </div>
            </div>
            <div class="team-member">
                <img class="profile-pic" src="static/img/Lunes.jpg" alt="Profile Picture">
                <div class="member-info">
                    <div class="member-role">組長</div>
                    <div class="member-name">Lunes</div>
                    <div class="member-title">企劃、UIUX、全端架構建置</div>
                </div>
            </div>
            <div class="team-member">
                <img class="profile-pic" src="static/img/Michael.jpg" alt="Profile Picture">
                <div class="member-info">
                    <div class="member-role">組員</div>
                    <div class="member-name">Michael</div>
                    <div class="member-title">後端設計、資料庫建置</div>
                </div>
            </div>
            <div class="team-member">
                <img class="profile-pic" src="static/img/曾國桐.jpg" alt="Profile Picture">
                <div class="member-info">
                    <div class="member-role">組員</div>
                    <div class="member-name">曾國桐</div>
                    <div class="member-title">前端、前後端串接</div>
                </div>
            </div>
            <div class="team-member">
                <img class="profile-pic" src="static/img/Jeff.jpg" alt="Profile Picture">
                <div class="member-info">
                    <div class="member-role">組員</div>
                    <div class="member-name">Jeff</div>
                    <div class="member-title">程式架構設計、後端、各類技術協助</div>
                </div>
            </div>
        </div>
    </div>
</body>