<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的單字書</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='toast.js') }}" defer></script>
</head>
<body>
    <nav class="container-header">
        <div class="header">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </a>
            <nav>
                <a href="/">我的單字書</a>
                <a href="/about">關於我們</a>
            </nav>
            <div class="user">
                <div class="user-icon"></div>
                <span>User Name</span>
            </div>
        </div>
    </nav>


    <!-- Loading Spinner -->
    <div id="loadingSpinner" class="loading-spinner" style="display: none;">
        <div class="spinner"></div>
    </div>

    <!-- Toast container -->
    <div id="toastContainer"></div>

    <div class="container">
        <div class="header-container">
            <h1>我的單字書</h1>
            <!-- 新增篩選按鈕區塊 -->
            <div class="filter-container">
                <button class="filter-button" onclick="openModal()">
                    <img class="filter-icon" src="static/img/filter.svg" alt="Filter" />
                </button>
            </div>
        </div>

        <!-- 浮現視窗 -->
        <div id="filterModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <div class="modal-header">篩選單字</div>
                <div class="modal-body">

                    <div class="member-role">單字儲存日</div>
                    <div class="filter-options-date">
                        <label for="startDate">從:</label>
                        <input type="date" id="startDate" name="startDate">
                        <label for="endDate">至:</label>
                        <input type="date" id="endDate" name="endDate">
                    </div>

                    <div class="member-role">單字難易度</div>
                    <div class="filter-options">
                        <label><input type="checkbox" name="difficulty" value="1"> 困難 (不熟悉的)</label>
                        <label><input type="checkbox" name="difficulty" value="2"> 中等 (有印象的)</label>
                        <label><input type="checkbox" name="difficulty" value="3"> 簡單 (已記住單字)</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="button-cancel" onclick="closeModal()">取消</button>
                    <button class="button" onclick="applyFilter()">送出</button>
                </div>
            </div>
        </div>

        
        <div class="search-bar">
            <form id="word-form" action="/" method="POST">
                <input type="text" id="word" name="word" placeholder="輸入欲新增或查詢的單字">
                <button class="button" type="submit">搜尋</button>
                <button class="button" type="button" onclick="window.location.href='/upload'">拍照新增單字</button>
            </form>
        </div>
        <div class="search-bar">
            <div id="error-message" class="error-message"></div>
        </div>
        
        <div class="word-list">
            <div id="word_to_searchContainer"></div>
            <div class = "hori-line"></div>
        </div>
        <div class="word-list">
            <div id="wordContainer"></div>
        </div>
        




    <script>
        // Filter popup functionality  打開或關上篩選選單
        function openModal() {
            document.getElementById("filterModal").style.display = "block";
        }
    
        function closeModal() {
            document.getElementById("filterModal").style.display = "none";
        }
    
        window.onclick = function(event) {
            var modal = document.getElementById("filterModal");
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>


    <script> 
    //当页面加载时，首先通过 setDefaultFilters 函数设置默认筛选条件
        function setDefaultFilters() { 
            const offset = 8 * 60; // UTC+8 的時間偏移量，以分鐘為單位
            const now = new Date();

            // 轉換當前時間到 UTC+8
            const utc8StartDate = new Date(now.getTime() + offset * 60000);
            const startDate = new Date(utc8StartDate);
            startDate.setDate(startDate.getDate() - 60); //60天前

            const utc8EndDate = new Date(now.getTime() + offset * 60000);
            const endDate = new Date(utc8EndDate);

            // 格式化日期
            const startDateString = startDate.toISOString().split('T')[0];
            const endDateString = endDate.toISOString().split('T')[0];

            document.getElementById('startDate').value = startDateString;
            document.getElementById('endDate').value = endDateString;
            document.querySelectorAll('input[name="difficulty"]').forEach(checkbox => checkbox.checked = true);
        }
        
 
    //使用 fetch 发送 JSON 数据到后端，包括开始日期、结束日期和选中的难度级别。叫後端送回資料給我，再將資料用updateWordList function呈現出來
        function applyDefaultFilter() {
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;
            const startDateTime = startDate + 'T00:00:00';
            const endDateTime = endDate + 'T23:59:59';
            const difficulties = Array.from(document.querySelectorAll('input[name="difficulty"]:checked')).map(el => el.value);

            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    startDate: startDateTime,
                    endDate: endDateTime,
                    difficulties: difficulties
                })
            })
            
            //接收JSON响应：前端 fetch 调用的 .then() 方法接收到 JSON 数据
            .then(response => response.json())
            
            //更新单词列表：使用接收到的单词数据（包括标记为新的单词），调用 updateWordList 函数更新页面上的单词列表显示。
            .then(data => {
                updateWordList(data.words);
            })
            .catch(error => {
                console.error('Error applying default filter:', error);
            });
        }
    </script>

    <script>
        //负责从前端页面获取用户设置的筛选条件，发送这些条件到服务器进行数据过滤，然后更新页面上的词汇列表。
        function applyFilter() {
            // 获取用户选择的日期
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;

            // 处理日期格式
            const startDateTime = startDate + 'T00:00:00'; // 转换为 yyyy-mm-ddT00:00:00
            const endDateTime = endDate + 'T23:59:59';   // 转换为 yyyy-mm-ddT23:59:59
            
            //选择所有被选中的复选框，然后 Array.from 将其转换为数组，map(el => el.value) 提取每个复选框的值
            const difficulties = Array.from(document.querySelectorAll('input[name="difficulty"]:checked')).map(el => el.value);

            // 发送 POST 请求
            fetch('/filter', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    startDate: startDateTime,
                    endDate: endDateTime,
                    difficulties: difficulties
                })
            })
            .then(response => response.json())
            .then(data => {
                // 处理响应数据
                updateWordList(data.words);
                closeModal();
            })
            .catch(error => {
                console.error('Error fetching filtered data:', error);
            });
        }        
        
        
        //依據 filter 呈現符合篩選條件結果的單字
        function updateWordList(words) {
            const wordContainer = document.getElementById('wordContainer');
            wordContainer.innerHTML = ''; //从干净的状态开始添加新的单词元素

            //抓 URL 裡面的 new_words
            const urlParams = new URLSearchParams(window.location.search);
            const newWordsParam = urlParams.get('new_words');
            const newWords = newWordsParam ? newWordsParam.split(',') : [];
            

            if (words.length === 0) {
                wordContainer.innerHTML = '<p>No words found.</p>'; //words 数组长度。如果数组为空（即没有单词），则在容器中显示 "No words found."
            } else {
                words.forEach(word => { //把 words 這個 json 裡面所有 word 內容都拿出來分別放到各個位子
                    const isWordNew = newWords.includes(word.word);  // 检查该单词是否在新单词列表中
                    const wordElement = document.createElement('div'); //遍历单词列表: 如果 words 数组中有单词，函数将遍历每个单词，并为每个单词创建一个 HTML 元素（div）。

                    wordElement.className = 'word-card' + (isWordNew ? ' new-word' : ''); //这个元素被赋予类名 word-card，如果该单词也存在于 newWords 数组中，额外添加 new-word 类，这样就会应用绿色边框的样式。
                    wordElement.innerHTML = ` 
                        <a href="/word?word=${word.word}" class="word-link">
                            <div class="word-header">
                                <div>${word.word}</div>
                                <div class="difficulty ${getDifficultyClass(word.difficulty_id)}">${getDifficultyText(word.difficulty_id)}</div>
                            </div>
                            <div class="word-details">
                                <div>${word.pronunciation}</div>
                                <div>${word.pos}</div>
                            </div>
                            <div class="word-meaning">${word.definition_zh}</div>
                        </a>
                    `;
                    wordContainer.appendChild(wordElement);
                });
            }
        }

        //為了難易度顯示不同顏色的文字設計的
        function getDifficultyClass(difficulty) {
            return difficulty === 3 ? 'easy' : (difficulty === 2 ? 'medium' : 'difficult');
        }
        //資料庫是欄位值是 1.2.3 ，我設定 1 = 困難，為了難易度顯示中文，所以在這邊設計顯示的中文
        function getDifficultyText(difficulty) {
            return difficulty === 3 ? '簡單' : (difficulty === 2 ? '中等' : '困難');
        }

    </script>


    <script>
        // 搜尋欄位 (word-form) 輸入的內容，由前端自行先作判別，請用戶輸入正確的格式
        document.addEventListener('DOMContentLoaded', function() {
            const wordForm = document.getElementById('word-form');
            const errorMessage = document.getElementById('error-message');
            const regex = /^[A-Za-z,]+$/;

            wordForm.addEventListener('submit', function(event) {
                event.preventDefault(); // Always prevent default form submission
                const wordInput = document.getElementById('word').value;

                if (!regex.test(wordInput)) {
                    errorMessage.style.display = 'block'; // Show error message
                    errorMessage.textContent = '僅可輸入英文。'; // Optional: Provide more detailed feedback
                } else {
                    errorMessage.style.display = 'none'; // Hide error message
                    searchWord(); // Call the function to handle data submission
                }
            });
        });

        //搜尋後請後端執行search()函數，如果後端說資料庫找得到，就呼叫 displayWordDetails function，把資料顯示在前端，如果找不到，就先說正在搜尋單字
        function searchWord() {
            const wordInput = document.getElementById('word').value;
            fetch('/search', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({word: wordInput})
            })
            .then(response => response.json())
            .then(data => {
                if (data.word) {
                    displayWordDetails(data);
                } else {
                    document.getElementById('word_to_searchContainer').innerHTML = "正在搜尋單字...";
                    getWordDetails(wordInput); //前端呼叫前端的函數 getWordDetails()
                }
            })
            .catch(error => {
                console.error('Error searching word:', error);
            });
        }
                
        //搜尋後呈現單字
        function displayWordDetails(data) {
            const container = document.getElementById('word_to_searchContainer');
            container.innerHTML = ''; // 清空现有内容

            //data.word_in_db 為 falue 時，才會生成 <a> 標籤：
            const wordLinkStart = !data.word_in_db ? '</a>' : '';
            const wordLinkEnd = !data.word_in_db ? `<a href="/word?word=${data.word.word}" class="word-link">` : '';
            //data.word_in_db 為 falue 時，才會生成新增單字的按鈕。之前通過調用 /get_word_details 獲取單字詳細信息，然後將其傳遞給 displayWordDetails 函數。在 displayWordDetails 函數中，當用戶點擊 "新增單字" 按鈕時，這些詳細信息會作為 wordDetails (JSON)參數傳遞給 addWord 函數
            const addButton = !data.word_in_db ? `<button class="button" onclick='addWord(${JSON.stringify(data.word)})'>新增單字</button>` : '';

            container.innerHTML = `
                <h2>查詢結果</h2>
                <div class="word-card">
                    ${wordLinkStart}
                        <div class="word-header">
                            <div>${data.word.word}</div>
                            <div class="difficulty ${getDifficultyClass(data.word.difficulty_id)}">${getDifficultyText(data.word.difficulty_id)}</div>
                        </div>    
                        <div class="word-details">
                            <div>${data.word.pronunciation}</div>
                            <div>${data.word.pos}</div>
                        </div>
                            <div class="word-meaning">${data.word.definition_zh}</div>
                        <div>
                            ${addButton}
                        </div>
                    ${wordLinkEnd}
                </div>
            `;
        }

        //因為資料庫沒有，前端就再請後端問 gemini (/get_word_details) 拿到 json，送給 displayWordDetails(data) function 呈現
        function getWordDetails(word) {
            fetch(`/get_word_details?word=${word}`)
            .then(response => response.json())
            .then(data => {
                displayWordDetails({word: data, word_in_db: false});
            })
            .catch(error => {
                console.error('Error getting word details:', error);
            });
        }

        //如果用戶按了"新增單字"就請後端去 insert into db，再把資料呈現在前端
        function addWord(wordDetails) {

            //載入 loading動畫
            document.getElementById('loadingSpinner').style.display = 'flex';

            fetch('/add_word', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(wordDetails) // 將單字詳細信息作為 JSON 數據發送
            })
            .then(response => response.json()) // 如果后端成功處理添加單字的請求並返回成功的響應 JSON（通常包括單字的詳細信息）

            //處理 json 資料，新增完後要顯示新增的內容，並且要是綠框
            .then(data => {

                document.getElementById('loadingSpinner').style.display = 'none';

                if (data.success) {
                    showToast(data.success);
                    const wordDetails = data.word_details; // 从后端获取的单词详细信息
                    const container = document.getElementById('word_to_searchContainer');
                    container.innerHTML = ''; // 清空现有内容
                    const wordCard = document.createElement('div');
                    wordCard.className = 'word-card new-word'; // 添加 'new-word' 类使邊框变绿
                    wordCard.innerHTML = `
                        <a href="/word?word=${wordDetails.word}" class="word-link">
                            <div class="word-header">
                                <div>${wordDetails.word}</div>
                                <div class="difficulty ${getDifficultyClass(wordDetails.difficulty_id)}">${getDifficultyText(wordDetails.difficulty_id)}</div>
                            </div>    
                            <div class="word-details">
                                <div>${wordDetails.pronunciation}</div>
                                <div>${wordDetails.pos}</div>
                            </div>
                            <div class="word-meaning">${wordDetails.definition_zh}</div>
                        </a>
                    `;
                    container.appendChild(wordCard);
                } else {
                    showToast(data.error || '新增單字失敗，請重整再試一次');
                }
            })
            .catch(error => {
                document.getElementById('loadingSpinner').style.display = 'none';  // 请求失败，也需要隐藏加载动画
                console.error('Error adding word:', error);
                showToast('網路請求失敗'); 
            });
        }
    </script>





    <script>
        //可以在用戶的電腦暫存上一次篩選的結果
        function loadFilterSettings() {
            const startDate = document.getElementById('startDate');
            const endDate = document.getElementById('endDate');
            const difficultyCheckboxes = document.querySelectorAll('input[name="difficulty"]');

            // Get values from localStorage if they exist, otherwise use default values
            const storedStartDate = localStorage.getItem('startDate');
            const storedEndDate = localStorage.getItem('endDate');
            const storedDifficulties = JSON.parse(localStorage.getItem('difficulties'));

            startDate.value = storedStartDate || '{{ start_date }}';
            endDate.value = storedEndDate || '{{ end_date }}';

            const difficulties = storedDifficulties || [1, 2, 3];
            difficultyCheckboxes.forEach(checkbox => {
                checkbox.checked = difficulties.includes(parseInt(checkbox.value));
            });
        }

        //----------------------------------------
        // 篩選的時候，至少一個難易度被選定 Ensure at least one difficulty checkbox is selected
        document.querySelectorAll("input[name='difficulty']").forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                if (!document.querySelector("input[name='difficulty']:checked")) {
                    document.querySelectorAll("input[name='difficulty']").forEach(cb => cb.checked = true);
                }
            });
        });

        //----------------------------------------
        //每次畫面載入，就要重新抓 Default 篩選的值
        document.addEventListener('DOMContentLoaded', function() {
            setDefaultFilters();
            applyDefaultFilter();
        });

    </script>
    

</body>
</html>
