<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>拍照上傳圖片</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='upload.js') }}" defer></script>
</head>

<body>
    <nav class="container-header">
        <div class="header">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </a>
            <nav>
                <a href="/">我的單字書</a>
                <a href="/about">關於我們</a>
            </nav>
            <div class="user">
                <div class="user-icon"></div>
                <span>User Name</span>
            </div>
        </div>
    </nav>

    <!-- Loading Spinner -->
    <div id="loadingSpinner" class="loading-spinner" style="display: none;">
        <div class="spinner"></div>
    </div>

    <div class="container">
        <h1>拍照上傳圖片</h1>
        <div class="center-text-container"> 
            <div class="highlight-text">預設自動辨識「螢光筆」劃記的單字</div>
        </div>
        
        <div class="upload-section">        
            <div class="main-content">
                <div class="webcam-section">
                    <video id="webcam" autoplay></video>
                </div>
                <div class="upload-section">
                    
                    <button onclick="captureAndUpload()" class="button-big">截取上傳</button>
                    
                    <div class="divider">
                        <span> ————— &emsp; 或選擇照片上傳 &emsp;—————</span>
                    </div>
                    <div>
                        <label for="file-upload" class="custom-file-upload">選擇圖片</label>
                        <input id="file-upload" name="file" type="file" accept="image/*">
                        <span id="file-name">未選取任何檔案</span>
                        <button onclick="uploadFile()" class="button">上傳</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</body>
</html>
