<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>單字預覽</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            <nav>
                <a href="/">我的單字書</a>
                <a href="#">關於我們</a>
            </nav>
            <div class="user">
                <div class="user-icon"></div>
                <span>User Name</span>
            </div>
        </div>

        <h1>單字預覽</h1>
    
        <div class="preview-section">
            <div class="image-preview-container">
                <img class="image-preview" src="{{ url_for('static', filename='uploads/' + image_name) }}" alt="Uploaded Image">
            </div>
            <div class="words-list">
                <h2>可能的單字</h2>
                <div id="word-container">
                    {% for word in words %}
                    <div class="word-item">
                        <div class="word-text">{{ word }}</div>
                        <div class="delete-button" onclick="deleteWord('{{ word }}')">
                            <img src="{{ url_for('static', filename='img/X.svg') }}" alt="delete">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="main-button" onclick="sendWords()">確認</button>
            </div>
        </div>
    </div>
        
        



 
        
</body>
</html>






