<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Detail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <nav class="container-header">
        <div class="header">
            <a href="{{ url_for('index') }}">
                <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </a>
            <nav>
                <a href="/">我的單字書</a>
                <a href="/about">關於我們</a>
            </nav>
            <div class="user">
                {% if 'user_id' in session %}
                <div class="user-dropdown">
                    <img class="user-icon" src="{{ url_for('static', filename='img/user.svg') }}" alt="User Icon">
                    <span>{{ session['account'] }}</span>
                    <div class="dropdown-content">
                        <a href="{{ url_for('logout') }}">登出</a>
                    </div>
                </div>
                {% else %}
                <a href="{{ url_for('login') }}">登入</a>
                {% endif %}
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="back">
                <a href="/">＜ 回到單字書</a>
        </div>
        

        <div class="word-detail">
            <h1>{{ word[1] }}</h1>
            <p>{{ word[3] }}</p>
            <p>型態: {{ word[2] }}</p>
            <p>解釋: {{ word[4] }}</p>
            <p>中文意思: {{ word[5] }}</p>
            <p>同意字： {{ word[6] }}</p>
            <p>例句：{{ word[8] }}</p>
            <p>例句中文：{{ word[9] }}</p>
            <p>字首：{{ word[10] }}</p>
            <p>字根：{{ word[11] }}</p>


            <div class = "hori-line"></div>

            <div class="difficulty-radio">
                <label>
                    <input type="radio" name="difficulty" value="1" {{ 'checked' if word[13] == 1 else '' }}>
                    <span class="difficulty" data-difficulty="1">困難（不熟悉的）</span>
                </label>
                <label>
                    <input type="radio" name="difficulty" value="2" {{ 'checked' if word[13] == 2 else '' }}>
                    <span class="difficulty" data-difficulty="2">中等（有印象的）</span>
                </label>
                <label>
                    <input type="radio" name="difficulty" value="3" {{ 'checked' if word[13] == 3 else '' }}>
                    <span class="difficulty" data-difficulty="3">簡單（已記住的）</span>
                </label>
            </div>
    
        </div>
        <div class="navigation buttons">
            {% if prev_word %}
                <button id="prev-word" data-word="{{ prev_word[1] }}">上一個單字</button>
            {% endif %}
            
            {% if next_word %}
                <button id="next-word" data-word="{{ next_word[1] }}">下一個單字</button>
            {% endif %}
        </div>
    </div>


    <script>
        function bindDifficultyClick() {
            $('.difficulty').off('click').on('click', function() {
                var word = '{{ word[1] }}'; // 單字名稱
                var difficulty_id = $(this).data('difficulty'); // 難易度標籤的值

                console.log('Word:', word);
                console.log('Difficulty_id:', difficulty_id);

                updateWordDifficulty(word, difficulty_id);
            });
        }

        function updateWordDifficulty(word, difficulty_id) {
            $.ajax({
                type: 'POST',
                url: '/update_difficulty',
                data: JSON.stringify({'word': word, 'difficulty_id': difficulty_id}), 
                contentType: 'application/json',
                success: function(response) {
                    console.log('難易度已更新');
                    // 可以在此處添加 UI 更新或其他操作
                },
                error: function(error) {
                    console.error('更新難易度失敗，請稍後再試', error);
                }
            });
        }

        $(window).on('load', function() {
            bindDifficultyClick();
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#prev-word').click(function() {
                var word = $(this).data('word');
                window.location.href = '/word?word=' + word;
            });

            $('#next-word').click(function() {
                var word = $(this).data('word');
                window.location.href = '/word?word=' + word;
            });
        });
    </script>
</body>
</html>